html {
  background: #5A189A;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
    margin: 0;
    padding: 0;
  font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #001847, #011d55, #2a0047, #390061);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

header {
    display: flex;
    flex-wrap: nowrap;
    align-items: first baseline;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    z-index: 10;
    position: absolute;
    padding: 10px 20px;
    background-color: transparent;
}

.logo {
    margin-left: 5px;
    max-height: 70px;
    max-width: 100%;
}

.btn-portal-home {
    position: fixed;
    top: 24px;
    right: 32px;
    z-index: 200;
    margin-left: 0;
    margin-top: 0;
    text-decoration: none;
    /* Para que no tenga subrayado */
}

.btn-portal-home .user-button {
    background-color: rgba(183, 0, 255, 0.2);
    border: 2px solid #7644ff;
    box-shadow: 0 0 8px rgba(161, 0, 201, 0.3);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.btn-portal-home .user-button:hover {
    background-color: rgba(195, 0, 255, 0.3);
}