@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");
@import url('https://fonts.googleapis.com/css?family=Anton|Roboto');
html {
    background: #5A189A;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #001847, #011d55, #2a0047, #390061);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media (max-width: 800px) {
    header .nav a {
        font-size: 0.7rem;
        margin-right: 0.5rem;
    }

    header .logo img {
        margin-left: 5px;
        max-height: 50px; 
        max-width: 100%;
    }
}

@media (max-width: 460px) {
    header .nav a {
        font-size: 0.4rem;
        margin-right: 0.3rem;
    }

    header .logo img {
        margin-left: 5px;
        max-height: 40px;
        max-width: 100%;
    }
}

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    margin: 3rem auto 1rem;
    border-radius: 10px;
    border: 10px solid #ffffff;
    padding: 1rem;
      animation: elevar 2s ease-out forwards;
    text-shadow: none;
    box-shadow: none;
}

h1 .subtitulo {
    font-style: italic;
    color: #a259ff; /* violeta moderno y elegante */
    font-weight: 500;
}

@keyframes elevar {
    0% {
        opacity: 0;
        transform: translateY(60px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

form h3 {
    font-family: "Erica One", sans-serif;
    font-size: 2rem;
    padding: 2rem;
    margin: 1rem auto;
    width: fit-content;
    text-align: center;
    border-radius: 32px;
    background: transparent;
    color: #fefefe;
    text-shadow: 0 0 10px #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

form {
    animation: elevar 2s ease-out forwards;
    margin: 3rem auto 4rem auto;
    padding: 25px;
    border-radius: 25px;
    width: 50%;
    text-align: center;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.267);
    background-size: 400% 400%;
    border: 2px solid #ffffff;
    box-shadow: 0 0 20px  rgba(255, 255, 255, 0.4);
    margin-bottom: 5px;
}

input,
select,
button {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);  
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px auto;
    padding: 12px 14px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.2); 
    border: none;  
    transition: all 0.3s ease-in-out;
    width: 180px;
}

input:focus,
select:focus,
button:hover {
   
    color: #ffffff;  
    text-shadow: 0 0 10px #ffffff;
    transform: scale(1.1);  
    outline: none;
}

button {
    background-color: transparent;
    color: #fdfdfd;
    border: none;
    font-weight: 600;
    padding: 1rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin: 1rem; 
}

button:hover {
    transform: scale(1.05);  
}

form p {
    color: #ffd6d6;
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.filtro-label {
    display: block;
    font-family: 'Anton', sans-serif;
    font-size: 1.7rem;
    font-weight: 500;
    color: #ffffff; /* violeta moderno */
    margin-bottom: 0.5rem;
    padding-left: 4px;
    transition: color 0.3s ease;
    
}

.custom-select {
    background-color: #8415b8;
    color: white;
    border: 2px solid #a18cff;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 1rem;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    text-align: center; /* CENTRA el texto */
    text-align-last: center; /* CENTRA la opción seleccionada (más efectivo en Firefox y Edge) */
    box-shadow: 0 0 10px rgba(56, 21, 184, 0.4);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.custom-select:hover,
.custom-select:focus {
    background-color: #4a2dd4;
    box-shadow: 0 0 15px rgba(161, 140, 255, 0.7);
    outline: none;
}

.custom-select option {
    background-color: #3815b8;
    color: white;
    text-align: center;
}

.tabla-container {
    overflow-x: auto;
    cursor: grab;
    margin-top: 20px;
    width: 90%;
    margin: 0 auto;
}

table {
    max-width: 80%;  
    width: 100%;  
    border-collapse: separate;
    background-color: rgba(255, 255, 255, 0.1);  
    color: rgba(255, 255, 255, 0.85);
    border-radius: 2px;
    border: 2px solid #fff; 
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.3);  
    transition: all 0.3s ease-in-out;
    animation: elevar 2s ease-out forwards;
    margin-bottom: 30px;
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 20px;
}

table th, table td {
    padding: 10px 14px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(4px);  
}

table th {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-weight: bold;
}

table tr:nth-child(even),
table tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.1);
}

table tr:hover {
    background-color: rgba(255, 0, 212, 0.3);
    color: #ffffff;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
    transform: scale(1.01);
    transition: all 0.3s ease-in-out;
}