@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");
@import url('https://fonts.googleapis.com/css?family=Anton|Roboto');

html {
  background: linear-gradient(to bottom, #000000, #353535);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  background: linear-gradient(135deg, #001847, #011d55, #2a0047, #390061);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.seccion-tabla {
  background: white;
  background-size: cover;
}

h1{
    font-family: "Erica One", sans-serif;
    font-size: 3rem;
    width: fit-content;
    text-align: center;
    border-radius: 32px;
    border: none;
    color: #fefefe;
    text-shadow: -3px 3px 0px #49007e, 3px -3px 0px #2f00d9;
    transition: all 0.3s ease-in-out;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 5rem;
    padding: 0;
    position: relative; /* <-- necesario para el before */
}


h1 .subtitulo {
  font-style: italic;
  color: #a259ff;
  /* violeta moderno y elegante */
  font-weight: 500;
}

@keyframes elevar {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.titulo2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
  background: rgba(94, 36, 255, 0.76);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgb(164, 73, 250);
  width: fit-content;
  margin: 20px auto;
  animation: elevar 2s ease-out forwards;
}

.accuracy {
  animation: elevar 2s ease-out forwards;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
  background: linear-gradient(to right, #be4dff, #2f00ff);
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.tabla-container {
  overflow-x: auto;
  cursor: grab;
  margin-top: 20px;
  width: 90%;
  margin: 0 auto;
}

table {
  max-width: 80%;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  background-color: rgba(106, 90, 205);
  color: rgba(255, 240, 250, 0.9);
  border-radius: none;
  border: 2px solid rgb(156, 18, 248);
  box-shadow: 0 0 12px rgb(137, 18, 248);
  transition: all 0.3s ease-in-out;
  animation: elevar 1.5s ease-out forwards;
  margin: 20px auto 30px auto;
  backdrop-filter: blur(8px);
}

table th,
table td {
  padding: 14px 18px;
  text-align: center;
  border: 2px solid rgb(156, 18, 248);
  backdrop-filter: blur(6px);
}

table th {
  background-color: rgba(72, 61, 139);
  color: #fff;
  font-weight: bold;
}

table tr:nth-child(odd),
table tr:nth-child(even) {
  background-color: rgba(255, 192, 240, 0.08);
}

table tr:hover {
  background-color: rgba(76, 0, 255, 0.3);
  color: #ffffff;
  box-shadow: 0 0 20px rgba(162, 23, 255, 0.4);
  transform: scale(1.01);
}

.formTransparent {
  background-color: transparent;
  border: none;
  padding: 1rem;
}
