@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");
@import url('https://fonts.googleapis.com/css?family=Anton|Roboto');
html {
    background: #5A189A;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #001847, #011d55, #2a0047, #390061);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    z-index: 10;
    position: relative;
    padding: 10px 20px;
    background-color: transparent; 
}

header .logo img {
    margin-left: 5px;
    max-height: 70px;
    max-width: 100%;
}




@media (max-width: 800px) {
    header .nav a {
        font-size: 0.7rem;
        margin-right: 0.5rem;
    }

    header .logo img {
        margin-left: 5px;
        max-height: 50px; 
        max-width: 100%;
    }
}

@media (max-width: 460px) {
    header .nav a {
        font-size: 0.4rem;
        margin-right: 0.3rem;
    }

    header .logo img {
        margin-left: 5px;
        max-height: 40px;
        max-width: 100%;
    }
}


h1 {
    font-family: 'Anton', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    margin: 3rem auto 1rem;
    border-radius: 10px;
    border: 10px solid #ffffff;
    padding: 1rem;
      animation: elevar 2s ease-out forwards;
    text-shadow: none;
    box-shadow: none;
}

h1 .subtitulo {
    font-style: italic;
    color: #a259ff; /* violeta moderno y elegante */
    font-weight: 500;
}


@keyframes elevar {
    0% {
        opacity: 0;
        transform: translateY(60px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



form h3 {
    font-family: "Erica One", sans-serif;
    font-size: 2rem;
    padding: 2rem;
    margin: 1rem auto;
    width: fit-content;
    text-align: center;
    border-radius: 32px;
    background: transparent;
    color: #fefefe;
    text-shadow: 0 0 10px #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

form {
    animation: elevar 2s ease-out forwards;
    margin: 3rem auto 4rem auto;
    padding: 25px;
    border-radius: 25px;
    max-width: 30%;
    width: 50%;
    text-align: center;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.267);
    background-size: 400% 400%;
    border: 2px solid #ffffff;
    box-shadow: 0 0 20px  rgba(255, 255, 255, 0.4);
    margin-bottom: 5px;
}

input,
select,
button {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);  
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px auto;
    padding: 12px 14px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.2); 
    border: none;  
    transition: all 0.3s ease-in-out;
    width: 180px;
}

input:focus,
select:focus,
button:hover {
   
    color: #ffffff;  
    text-shadow: 0 0 10px #ffffff;
    transform: scale(1.1);  
    outline: none;
}

button {
    background-color: transparent;
    color: #fdfdfd;
    border: none;
    font-weight: 600;
    padding: 1rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin: 1rem; 
}

button:hover {
    transform: scale(1.05);  
}

form p {
    color: #ffd6d6;
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}







.filtro-label {
    display: block;
    font-family: 'Anton', sans-serif;
    font-size: 1.7rem;
    font-weight: 500;
    color: #ffffff; /* violeta moderno */
    margin-bottom: 0.5rem;
    padding-left: 4px;
    transition: color 0.3s ease;
    
}

.custom-select {
    background-color: #8415b8;
    color: white;
    border: 2px solid #a18cff;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 1rem;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    text-align: center; /* CENTRA el texto */
    text-align-last: center; /* CENTRA la opción seleccionada (más efectivo en Firefox y Edge) */
    box-shadow: 0 0 10px rgba(56, 21, 184, 0.4);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.custom-select:hover,
.custom-select:focus {
    background-color: #4a2dd4;
    box-shadow: 0 0 15px rgba(161, 140, 255, 0.7);
    outline: none;
}

.custom-select option {
    background-color: #3815b8;
    color: white;
    text-align: center;
}





.tabla-container {
    overflow-x: auto;
    cursor: grab;
    margin-top: 20px;
    width: 90%;
    margin: 0 auto;
}

table {
    max-width: 60%;  
    width: 100%;  
    border-collapse: separate;
    background-color: rgba(255, 255, 255, 0.1);  
    color: rgba(255, 255, 255, 0.85);
    border-radius: 2px;
    border: 2px solid #fff; 
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.3);  
    transition: all 0.3s ease-in-out;
    animation: elevar 2s ease-out forwards;
    margin-bottom: 30px;
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 20px;
}

table th, table td {
    padding: 10px 14px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(4px);  
}

table th {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-weight: bold;
}

table tr:nth-child(even),
table tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.1);
}

table tr:hover {
    background-color: rgba(255, 0, 212, 0.3);
    color: #ffffff;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
    transform: scale(1.01);
    transition: all 0.3s ease-in-out;
}



/* MENU DE USUARIO */

.user-menu-wrapper {
  position: absolute;
  top: 1rem;
  right: 2rem;
}

.user-checkbox {
  display: none;
}

.user-main {
  cursor: pointer;
}

.user-button {
  background-color: rgba(183, 0, 255, 0.2);
  border: 2px solid #7644ff;
  box-shadow: 0 0 8px rgba(161, 0, 201, 0.3);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.user-button:hover {
  background-color: rgba(195, 0, 255, 0.3);
}

.user-menu-container {
  background-color: rgba(183, 0, 255, 0.2);
  color: #2d006d;
  border-radius: 10px;
  border: 2px solid #7644ff;
  box-shadow: 0 0 10px rgba(161, 0, 201, 0.3);
  position: absolute;
  width: 12rem;
  right: 0;
  top: 130%;
  overflow: hidden;
  clip-path: inset(10% 50% 90% 50% round 10px);
  opacity: 0;
  pointer-events: none;
  transform: translateY(10px);
  transition: all 0.4s ease;
  z-index: 0;
}


.user-menu-wrapper input[type="checkbox"]:checked ~ .user-menu-container {
  clip-path: inset(0% 0% 0% 0% round 10px);
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
  transition-delay: 0s;
  z-index: 100;
}







/*MENU DESPLEGABLE LATERAL*/


.menu-icon {
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 0.7rem;
  left: 300px;
  background-color: rgba(183, 0, 255, 0.2);
  padding: 10px 15px;
  border-radius: 60px;
  border: 2px solid #7644ff;
  color: white;
  transition: left 0.4s ease;
}

/* Posición cuando el menú está cerrado */
.menu-toggle:not(:checked) ~ .menu-icon {
  left: 6.5rem;
}

/* Menú lateral */
.side-menu {
 position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 280px;
  background-color: rgb(23, 6, 99);
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.4);
  transform: translateX(-100%);
  transition: transform 0.4s ease-in-out;
  z-index: 5; 
  padding: 2rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
 
  overflow: visible !important; /* Asegura que no recorte el tooltip */
  
}










.menu-toggle {
  display: none;
}
.menu-toggle:checked ~ .side-menu {
  transform: translateX(0);
}


.menu-content {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-right: 8px;
}


.stats-button {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
  border-radius: 32px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 10px solid #fefefe;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.stats-button:hover {
  background-color: rgba(255, 255, 255, 0.35);
}


details {
  margin-bottom: 15px;
  background-color: rgba(183, 0, 255, 0.2);
  border: 2px solid #7644ff;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}
details:hover {
  background-color: rgba(183, 0, 255, 0.3);
}


summary {
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
summary::-webkit-details-marker {
  display: none;
}


.arrow {
  font-size: 1.4rem;
  color: #ccc;
  transition: transform 0.3s ease;
}
details[open] .arrow {
  transform: rotate(180deg);
}


.submenu {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}
.submenu a {
  background-color: rgb(43, 12, 182);
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #7644ff;
  margin: 3px 0;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.2s ease-out;
}
.submenu a:hover {
  background: rgb(80, 61, 255);
  box-shadow: 0 0 30px 5px rgb(80, 61, 255);
  border: 2px solid rgb(80, 61, 255);
}


.menu-list {
  padding: 10px 12px;
  transition: background-color 0.2s;
  position: relative;
}
.menu-list a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  display: block;
}
.menu-list:hover {
  background-color: rgba(195, 0, 255, 0.3);
}
.menu-list::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  background-color: #100db6;
  width: 95%;
}


.inp:checked ~ label .bar > .top {
  transform-origin: top right;
  transform: rotate(-35deg) translateX(-0.5px);
}
.inp:checked ~ label .bar > .middle {
  opacity: 0;
}
.inp:checked ~ label .bar > .bottom {
  transform-origin: bottom right;
  transform: rotate(35deg) translateX(-0.5px);
}
.inp:not(:checked) ~ label .bar > .top,
.inp:not(:checked) ~ label .bar > .bottom {
  transform: translateY(0) rotate(0);
}
.inp:not(:checked) ~ label .bar > .middle {
  opacity: 1;
}





.support-button-wrapper {
  margin-top: auto;
  padding-top: 1rem;
  position: relative; /* Necesario para posicionar absolutamente dentro */
}

.support-button {
  background-color: transparent;
  border: 2px solid #7644ff;
  color: #fff;
  padding: 12px 18px;
  border-radius: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.support-button:hover {
  background-color: rgba(195, 0, 255, 0.3);
  box-shadow: 0 0 20px 5px #7644ff;
}

.tooltip {
   position: absolute;
  top: 50%;
  left: 90%; /* Lo coloca a la derecha del botón */
  transform: translateY(-50%) translateX(10px); /* Ajusta separación del botón */
  min-width: 200px;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s ease;
  z-index: 30; /* Muy alto para que quede por encima de todo */
  padding-left: 0;
}

.support-button:hover > .tooltip {
   opacity: 1;
  pointer-events: auto;
  transform: translateY(-75%) translateX(10px); /* Debe coincidir */
}




.tooltip-link {
  border-radius: 5px;
  border: 2px solid #36099e;
  background: #7644ff;
  display: block; 
  width: 100%;
  padding: 10px; 
  color: white;
  text-decoration: none;
}

.tooltip-link:not(:last-child) {
  border-bottom: 2px solid #1e0e79de;
}

.tooltip-link a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 1rem;
  background-color: transparent;
  transition: background 0.3s ease;
}

.tooltip-menu-with-icon i {
  color: #ffffff;
}












.user-name {
  text-align: center;
}





.footer {
   position: relative;
  
    background-color: #130047;
    color: #fff;
    font-family: "Roboto", sans-serif;
    width: 100%; 
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    padding-left: 280px;
    padding-right: 280px;
    flex-wrap: wrap;
    gap: 10px;
}

@media (max-width: 1080px) {
    .footer-content {
        padding-left: 120px;
        padding-right: 20px;
    }
}

.footer-logo h1 {
    font-size: 1rem;
    margin: 0;
}

.footer-logo p {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 6rem;
    color: #ffffffa3;
}

.footer-logo img {
    margin-top: 1.5rem;
    max-height: 100px;
}


.social-media {
  display: flex;
  gap: 20px;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
}

.social-media a {
  color: #ffffff; 
  transition: color 0.3s ease, transform 0.3s ease, filter 0.3s ease;
  text-decoration: none;
}

.social-media a:hover {
  color: #6e0ff5; /* púrpura/neón, puedes cambiar por el color que quieras */
  transform: scale(1.2);
  filter: drop-shadow(0 0 6px #6e0ff5);
}

@media (max-width: 768px) {
    .footer-content {
        justify-content: none;
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer-logo img {
        max-height: 110px;
    }
}

@media (max-width: 460px) {
    .footer-content {
        justify-content: none;
        padding-left: 10px;
        padding-right: 10px;
    }

    .footer-logo img {
        margin-top: 3.1rem;
        max-height: 70px;
    }
}

.footer-icons a {
    margin: 5px;
    display: inline-block;
}

.footer-icons img {
    width: 25px;
    height: 25px;
    transition: transform 0.3s;
}

.footer-icons img:hover {
    transform: scale(1.1);
}

.footer-description {
    max-width: 300px;
}

.footer-description p {
    margin-top: 1rem;
    font-size: 1rem;
    color: #d1d1d1;
}

.adress p {
    font-size: 1rem;
    color: #d1d1d1;
}

.footer-contacts {
    display: flex;
    gap: 10px;
    margin-top: 1rem;
}

.footer-country h4 {
    font-size: 1rem;
    color: #fff;
}

.footer-country p {
    font-size: 1rem;
    color: #d1d1d1;
}

.footer-country img {
    width: 25px;
    margin-right: 5px;
}

.footer-bottom {
    background-color: #0c0036;
    text-align: center;
    padding: 5px 0;
    margin-top: 5px;
}

.footer-bottom p {
    font-size: 0.9rem;
    color: #02a1b6;
}

@media (max-width: 468px) {
    .footer-description p {
        margin-top: 3.3rem;
        font-size: 0.7rem;
        color: #d1d1d1;
    }

    .footer-country h4 {
        font-size: 0.7rem;
        color: #fff;
    }
    
    .footer-country p {
        font-size: 0.7rem;
        color: #d1d1d1;
    }
}
