@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");

html {
    background: #5A189A;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #001847, #011d55, #2a0047, #390061);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


@media (max-width: 460px) {
    header .nav a {
        font-size: 0.4rem;
        margin-right: 0.3rem;
    }

    header .logo img {
        margin-left: 5px;
        max-height: 40px;
        max-width: 100%;
    }
}

#language-dropdown {
    justify-content: center;
    display: none;
    position: absolute;
    top: 100%;
    right: 20px;
    background-color: #1a1a1a;
    padding: 0.3rem 0;
    list-style: none;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(160, 0, 0, 0.4);
}

#language-dropdown button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 35px;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 4px 8px;
    border: none;
    background-color: #2a2a2a;
    color: #fff;
    cursor: pointer;
}

#language-dropdown button img {
    margin-right: 6px;
    width: 20px;
    height: 14px;
}

h1 {
    font-family: "Erica One", sans-serif;
    font-size: 3rem;
    padding: 2rem;
    margin: 1rem auto;
    width: fit-content;
    text-align: center;
    border-radius: 32px;
    border: none;
    color: #fefefe;
    text-shadow:
        -3px 3px 0px #49007e,
        /* Primera sombra violeta */
        3px -3px 0px #2f00d9;
    /* Segunda sombra azul */
    transition: all 0.3s ease-in-out;
    margin-top: 40px;
    margin-bottom: 20px;
}


@keyframes elevar {
    0% {
        opacity: 0;
        transform: translateY(60px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



h2 {
    font-family: "Erica One", sans-serif;
    animation: elevar 2s ease-out forwards;
    font-size: 2rem;
    padding: 1rem;
    margin: 1rem auto;
    width: fit-content;
    text-align: center;
    border-radius: 24px;
    border: 6px solid #fefefe;
    background: transparent;
    color: #fefefe;
    text-shadow: -3px 3px 0px #49007e;
    box-shadow: 0 6px 16px -4px #ffffff;
    transition: all 0.3s ease-in-out;
    margin-left: 140px;
    margin-top: 60px;
    margin-bottom: 5px;
}

form h3 {
    font-family: "Erica One", sans-serif;
    font-size: 2rem;
    padding: 2rem;
    margin: 1rem auto;
    width: fit-content;
    text-align: center;
    border-radius: 32px;
    background: transparent;
    color: #fefefe;
    text-shadow: 0 0 10px #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

form {
    animation: elevar 2s ease-out forwards;
    margin: 3rem auto 4rem auto;
    padding: 25px;
    border-radius: 25px;
    width: 50%;
    text-align: center;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.267);
    background-size: 400% 400%;
    border: 2px solid #ffffff;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
    margin-bottom: 5px;
}

input,
select,
button {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px auto;
    padding: 12px 14px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    transition: all 0.3s ease-in-out;
    width: 180px;
}

input:focus,
select:focus,
button:hover {

    color: #ffffff;
    text-shadow: 0 0 10px #ffffff;
    transform: scale(1.1);
    outline: none;
}

button {
    background-color: transparent;
    color: #fdfdfd;
    border: none;
    font-weight: 600;
    padding: 1rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin: 1rem;
}

button:hover {
    transform: scale(1.05);
}

form p {
    color: #ffd6d6;
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.Highbutton {
    background: linear-gradient(135deg, #b950ff);
    border: blue;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
    width: 100%;
    max-width: 480px;
    text-align: center;
    box-sizing: border-box;
    margin: 0 auto;
}

.Highbutton:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(153, 0, 255, 0.6);
}

@media (max-width: 768px) {
    .Highbutton {
        padding: 1rem;
        font-size: 1rem;
    }

    .file-label {
        padding: 1rem;
        font-size: 1rem;
    }
}

@media (max-width: 460px) {
    .Highbutton {
        padding: 0.8rem;
        font-size: 0.9rem;
    }

    .file-label {
        padding: 0.8rem;
        font-size: 0.9rem;
    }
}

.file-label {
    display: inline-block;
    font-weight: 700;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 12px;
    margin-bottom: 1rem;
    color: #fff;
    background: rgb(39, 7, 158);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    max-width: 480px;
    text-align: center;
    box-sizing: border-box;
    margin: 0 auto;
}

.file-label:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 4, 255, 0.6);
}

.file-label input[type="file"] {
    display: none;
}

.tabla-container {
    overflow-x: auto;
    cursor: grab;
    margin-top: 20px;
    width: 90%;
    margin: 0 auto;
}

table {
    max-width: 80%;
    width: 100%;
    border-collapse: separate;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.85);
    border-radius: 2px;
    border: 2px solid #fff;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease-in-out;
    animation: elevar 2s ease-out forwards;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

table th,
table td {
    padding: 10px 14px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(4px);
}

table th {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-weight: bold;
}

table tr:nth-child(even),
table tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.1);
}

table tr:hover {
    background-color: rgba(255, 0, 212, 0.3);
    color: #ffffff;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
    transform: scale(1.01);
    transition: all 0.3s ease-in-out;
}