<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>IA de PREDICCION de Aptitud</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cargarCV.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header_general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
</head>

<body>
    {% include "layout/header_general.html" %}
    {% include "layout/menu.html" %}
    <h1>Cargar el<span class="subtitulo">CV</span>&nbsp;del Candidato</h1>

    <form method="POST" enctype="multipart/form-data">
        <h2>Subir CV en PDF</h2>
        <input type="file" id="cv_pdf" name="cv_pdf" accept=".pdf" required>
        <p id="nombre_archivo" style="margin: 10px 0; font-weight: bold;"></p>
        
        <button type="submit">Extraer datos del CV</button>
        <button type="button" onclick="limpiarArchivo()">Eliminar archivo</button>
        {% with messages = get_flashed_messages(category_filter=["pdf"]) %}
        {% if messages %}
        <div class="flash-messages">
            {% for message in messages %}
            <div class="alert">{{ message|safe }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
    </form>

    <form method="POST" action="/cargarCV" enctype="multipart/form-data">
        <span></span>
        <span></span>
        <span></span>
        <span></span>

        <label for="idOfer">Selecciona una oferta laboral:</label>
        <select name="idOfer" required>
            <option value="">-- Selecciona una oferta --</option>
            {% for oferta in opciones_ofertas if oferta.estado != "Cerrada" %}
            <option value="{{ oferta.idOfer }}">{{ oferta.nombre }}</option>
            {% endfor %}
        </select>

        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ' ]{2,20}"
            title="Debe tener entre 2 y 20 letras, puede incluir espacios o apóstrofes"
            value="{{ precargado.nombre if precargado and precargado.nombre else '' }}" required>

        <label for="apellido">Apellido</label>
        <input type="text" name="apellido" pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ' ]{2,20}"
            title="Debe tener entre 2 y 20 letras, puede incluir espacios o apóstrofes"
            value="{{ precargado.apellido if precargado and precargado.apellido else '' }}" required>

        <label for="email">Correo eléctronico</label>
        <input type="email" name="email" value="{{ precargado.email if precargado and precargado.email else '' }}"
            required>

        <label for="telefono">Teléfono</label>
        <input type="text" name="telefono" pattern="\d{8,13}" maxlength="13" title="Debe tener entre 8 y 13 números"
            value="{{ precargado.telefono if precargado and precargado.telefono else '' }}" required>

        <label for="ubicacion">Ubicación</label>
        <select name="ubicacion" id="ubicacion" required>
            <option disabled selected value="">-- Selecciona una provincia de Argentina --</option>
            {% for prov in ["Buenos Aires", "CABA", "Catamarca", "Chaco", "Chubut", "Córdoba", "Corrientes", "Entre
            Ríos", "Formosa", "Jujuy", "La Pampa", "La Rioja", "Mendoza", "Misiones", "Neuquén", "Río Negro", "Salta",
            "San Juan", "San Luis", "Santa Cruz", "Santa Fe", "Santiago del Estero", "Tierra del Fuego", "Tucumán"] %}
            <option value="{{ prov }}" {% if precargado and precargado.ubicacion==prov %}selected{% endif %}>{{ prov }}
            </option>
            {% endfor %}
        </select>

        <label for="experiencia">Experiencia (en años)</label>
        <input type="number" min="0" max="15" name="experiencia" id="experiencia"
            value="{{ precargado.experiencia if precargado else '' }}" required>

        <label for="educacion">Educación</label>
        <select name="educacion" id="educacion" required>
            <option disabled selected value="">-- Selecciona nivel de educación más alto alcanzado --</option>
            {% for opcion in opciones_educacion %}
            <option value="{{ opcion }}" {% if precargado and precargado.educacion==opcion %}selected{% endif %}>{{ opcion|capitalize }}</option>
            {% endfor %}
        </select>

        <label for="tecnologias">Tecnología Principal</label>
        <select name="tecnologias" id="tecnologias" required>
            <option disabled selected value="">-- Selecciona una tecnología --</option>
            {% for opcion in opciones_tecnologias %}
            <option value="{{ opcion }}" {% if precargado and precargado.tecnologias==opcion %}selected{% endif %}>{{ opcion|capitalize }}</option>
            {% endfor %}
        </select>

        <label for="tecnologias2">Tecnología Secundaria</label>
        <select name="tecnologias2" id="tecnologias2" required>
            <option disabled selected value="">-- Selecciona otra tecnología --</option>
            {% for opcion in opciones_tecnologias2 %}
            <option value="{{ opcion }}" {% if precargado and precargado.tecnologias2==opcion %}selected{% endif %}>{{ opcion|capitalize }}</option>
            {% endfor %}
        </select>

        <label for="habilidades">Habilidad 1</label>
        <select name="habilidades" id="habilidades" required>
            <option disabled selected value="">-- Selecciona una habilidad --</option>
            {% for opcion in opciones_habilidades %}
            <option value="{{ opcion }}" {% if precargado and precargado.habilidades==opcion %}selected{% endif %}>{{ opcion|capitalize }}</option>
            {% endfor %}
        </select>

        <label for="habilidades2">Habilidad 2</label>
        <select name="habilidades2" id="habilidades2" required>
            <option disabled selected value="">-- Selecciona otra habilidad --</option>
            {% for opcion in opciones_habilidades2 %}
            <option value="{{ opcion }}" {% if precargado and precargado.habilidades2==opcion %}selected{% endif %}>{{ opcion|capitalize }}</option>
            {% endfor %}
        </select>

        <button type="submit">Enviar CV</button>
        {% with messages = get_flashed_messages(category_filter=["form"]) %}
        {% if messages %}
        <div class="flash-messages">
            {% for message in messages %}
            <div class="alert">{{ message|safe }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

    </form>

    <script src="{{ url_for('static', filename='js/etiquetasDistintas.js') }}"></script>
    {% include "layout/footer.html" %}
    <script>
    const inputArchivo = document.getElementById('cv_pdf');
    const nombreArchivo = document.getElementById('nombre_archivo');

    inputArchivo.addEventListener('change', function () {
        const archivo = this.files[0];
        nombreArchivo.textContent = archivo ? `Archivo seleccionado: ${archivo.name}` : "";
    });

    function limpiarArchivo() {
        inputArchivo.value = "";
        nombreArchivo.textContent = "";
    }
    </script>
</body>

</html>