<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Crear Nueva Oferta Laboral</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='crear_oferta.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/header_general.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
</head>

<body>
  {% include "layout/header_general.html" %}
  {% include "layout/menu.html" %}
  <h1>Crear Nueva <span class="subtitulo">Oferta Laboral</span></h1>

  <form method="POST" action="{{ url_for('crear_oferta') }}">
    <span></span>
    <span></span>
    <span></span>
    <span></span>

    <label for="nombre">Nombre de la oferta:</label>
    <input type="text" name="nombre" pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ' 0-9]{4,51}" required>

    <label for="fecha_cierre">Fecha de cierre:</label>
    <input type="date" name="fecha_cierre" required>

    <label for="max_candidatos">Cantidad máxima de candidatos:</label>
    <input type="number" name="max_candidatos" min="4" max="1000" required>

    <label for="remuneracion">Remuneración ($USD):</label>
    <input type="number" name="remuneracion" placeholder="Ej: 4000" min="200" max="90000" required>

    <label for="beneficio">Beneficio:</label>
    <input type="text" name="beneficio" placeholder="Ej: Home office" pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ' 0-9]{3,60}"
      required>

    <label for="modalidad">Modalidad de la oferta:</label>
    <select name="modalidad" required>
      <option value="Local">Local</option>
      <option value="Mixta">Mixta</option>
      <option value="Externa">Externa</option>
    </select>

    <p>Usuario responsable: <strong>{{ session.get('username') }}</strong></p>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flash-messages">
      {% for message in messages %}
      <div class="alert">{{ message|safe }}</div>
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <button type="submit">Crear Oferta</button>
  </form>

  {% include "layout/footer.html" %}

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      let fechaInput = document.querySelector('input[name="fecha_cierre"]');
      let hoy = new Date().toISOString().split("T")[0]; // Obtener la fecha actual en formato YYYY-MM-DD
      fechaInput.setAttribute("min", hoy); // Establecer el mínimo en el input
    });
  </script>

</body>

</html>