<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Crear Nueva Oferta Laboral</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='crear_oferta.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logoApptitudAI.png') }}" alt="AI Logo">
        </div>
<!-- Ícono de menú hamburguesa -->
<input type="checkbox" id="menu-toggle" class="menu-toggle" />
<label for="menu-toggle" class="menu-icon">&#9776;</label>

<!-- Menú lateral deslizante -->
<aside class="side-menu">
  <nav class="menu-content">
   
    <!-- Menú desplegable: Administración de Oferta -->
    <details>
      <summary>
       <h3><i class="fas fa-briefcase"></i> Administracion de Ofertas</h3>
        <span class="arrow">&#9662;</span>
      </summary>
      <div class="submenu">
        <a href="{{ url_for('crear_oferta') }}"><i class="fas fa-plus-circle"></i> Crear Oferta</a>
        <a href="{{ url_for('ver_ofertas') }}"><i class="fas fa-list"></i> Ver Ofertas</a>
      </div>
    </details>
    <!-- Menú desplegable: Postulantes -->
    <details>
      <summary>
         <h3><i class="fas fa-users"></i> Postulantes</h3>
        <span class="arrow">&#9662;</span>
      </summary>
      <div class="submenu">
        <a href="{{ url_for('postulantes') }}"><i class="fas fa-eye"></i> Ver Postulantes</a>
        <a href="{{ url_for('cargarCV') }}"><i class="fas fa-upload"></i> Cargar CV</a>
      </div>
    </details>
    <!-- Menú desplegable: Configuración -->
    <details>
      <summary>
         <h3><i class="fas fa-cogs"></i> Configuracion</h3>
        <span class="arrow">&#9662;</span>
      </summary>
      <div class="submenu">
        <a href="{{ url_for('mostrar_etiquetas') }}"><i class="fas fa-tags"></i>  Configurar Etiquetas</a>
      </div>
    </details>
    <!-- Menú desplegable: Metricas-->
    <details>
      <summary>
          <h3><i class="fas fa-chart-line"></i> Métricas</h3>
        <span class="arrow">&#9662;</span>
      </summary>
      <div class="submenu">
        <a href="{{ url_for('estadisticas') }}"><i class="fas fa-sliders-h"></i>  Estadisticas</a>
        <a href="{{ url_for('metricas', oferta_id=idOfer) }}"><i class="fas fa-list"></i> Ver métricas</a>

      </div>
    </details>
    <!-- Menú desplegable: Volver al inicio-->
    <div class="submenu">
        <a href="{{ url_for('predecir') }}">Volver al Inicio</a>
      </div>
  </nav>
  <div class="support-button-wrapper">
  <div class="nav-link support-button">
    <i class="fas fa-headset"></i> Soporte
    <div class="tooltip">
      <ul class="tooltip-menu-with-icon">
        <li class="tooltip-link">
          <a href="#"><i class="fas fa-envelope"></i> perfectmatch.rrhh@gmail.com </a>
        </li>
        <li class="tooltip-link">
          <a href="#"><i class="fas fa-phone"></i> +54 116668-4418</a>
        </li>
        <li class="tooltip-link">
          <a href="#"><i class="fas fa-clock"></i> 8:30AM - 17:00PM </a>
        </li>
      </ul>
    </div>
  </div>
</div>
</aside>
<!-- MENU DE USUARIO -->
    <div class="user-menu-wrapper">
  <input type="checkbox" id="user-toggle" class="user-checkbox" />
  <label for="user-toggle" class="user-main">
    <div class="user-button">
      <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" width="26" height="26">
        <circle cx="8" cy="5" r="3" fill="#ffffff"/>
        <path d="M2 14c0-3 4-4 6-4s6 1 6 4" fill="#ffffff"/>
      </svg>
    </div>
    <div class="user-name">
        <p style="color: white; margin: 4px 0 0 0; font-size: 0.9rem;">{{ session.get('username') }}</p>
        </div>
    </label>

         <section class="user-menu-container">
        <div class="menu-list">
         <a href="{{ url_for('logout') }}">Cerrar sesión</a>
        </div>
        <div class="menu-list">
          <a href="{{ url_for('gestionar_usuarios') }}">Gestiónar Roles</a>
        </div>
         </section>
        </div>
    </header>


    <h1>Crear Nueva <span class="subtitulo">Oferta Laboral</span></h1>
    
    <form method="POST" action="{{ url_for('crear_oferta') }}">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        
        <label for="nombre">Nombre de la oferta:</label>
        <input type="text" name="nombre" pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ' 0-9]{4,51}" required>

        <label for="fecha_cierre">Fecha de cierre:</label>
        <input type="date" name="fecha_cierre" required>

        <label for="max_candidatos">Cantidad máxima de candidatos:</label>
        <input type="number" name="max_candidatos" min="4" max="1000" required>

        <label for="remuneracion">Remuneración ($USD):</label>
        <input type="number" name="remuneracion" placeholder="Ej: 4000" min="200" max="90000" required>

        <label for="beneficio">Beneficio:</label>
        <input type="text" name="beneficio" placeholder="Ej: Home office" pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ' 0-9]{3,60}" required>

        <label for="modalidad">Modalidad de la oferta:</label>
        <select name="modalidad" required>
            <option value="Local">Local</option>
            <option value="Mixta">Mixta</option>
            <option value="Externa">Externa</option>
        </select>

        <p>Usuario responsable: <strong>{{ session.get('username') }}</strong></p>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-messages">
            {% for message in messages %}
                <div class="alert">{{ message|safe }}</div>
            {% endfor %}
            </div>
        {% endif %}
        {% endwith %}
        <button type="submit">Crear Oferta</button>
    </form>


    <footer class="footer">
    <div class="footer-content">
        <div class="footer-logo">
            <img src="{{ url_for('static', filename='images/logoPerfectMatch.png') }}" alt="PF Image">
        </div>
        <div class="footer-description">
          
            <p>
                Abal, Fernando Gabriel<br>
                Ábalos, Lucas Gabriel<br>
                Bianciotto, Matías Felipe<br>
                Gutiérrez, Diego Germán<br>
                Roldan, Guadalupe <br>
                Sotelo, Evelyn Romina
            </p>
        </div>
        <div class="footer-contacts">
            <div class="footer-country">
                <div class="address">
                    <img src="{{ url_for('static', filename='images/ArgentinaS.png') }}" alt="Argentina Flag"><p>Argentina, Buenos Aires</p>
                    
                    <p>Siguenos en:</p>
                    <div class="social-media">
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-youtube"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>© 2025 IA para la Predicción de Candidatos.All rights reserved</p>
    </div>
  </footer>

  <script>
  document.addEventListener("DOMContentLoaded", function () {
      let fechaInput = document.querySelector('input[name="fecha_cierre"]');
      let hoy = new Date().toISOString().split("T")[0]; // Obtener la fecha actual en formato YYYY-MM-DD
      fechaInput.setAttribute("min", hoy); // Establecer el mínimo en el input
  });
  </script>

</body>
</html>