<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Estadísticas del Modelo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estadisticas.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header_general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fragments/particles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fragments/titles.css') }}">
</head>


<body>
    {% include "fragments/particles.html" %}
    {% include "layout/header_general.html" %}
    {% include "layout/menu.html" %}

    <h1><p class="title-perfect-violet">Estadísticas del </p><p class="title-match-blue">Modelo</p></h1>

    <h2 class="accuracy">Precisión calculada a través de accuracy score: {{ precision }}</h2>

    <h2 class="titulo2">Clases del encoder:</h2>
    <div class="tablas-flex">
        <!-- Educación -->
        <div class="tabla-container">
            <table>
                <thead>
                    <tr>
                        <th>EDUCACIÓN</th>
                    </tr>
                </thead>
                <tbody>
                    {% for clase in clases_educacion %}
                    <tr>
                        <td>{{ clase }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Tecnologías -->
        <div class="tabla-container">
            <table>
                <thead>
                    <tr>
                        <th>TECNOLOGÍAS</th>
                    </tr>
                </thead>
                <tbody>
                    {% for clase in clases_tecnologias %}
                    <tr>
                        <td>{{ clase }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Habilidades -->
        <div class="tabla-container">
            <table>
                <thead>
                    <tr>
                        <th>HABILIDADES</th>
                    </tr>
                </thead>
                <tbody>
                    {% for clase in clases_habilidades %}
                    <tr>
                        <td>{{ clase }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <h2 class="titulo2">Árbol de decisión</h2>
        <div class="tabla-container"
            style="text-align: center; border-radius: 120px; background: rgba(24, 24, 24, 0.76); box-shadow: 0 4px 10px rgb(73, 194, 250); max-width: 80%;">
            <img src="data:image/png;base64,{{ imagen_arbol }}" alt="Árbol de decisión"
                style="max-width: 100%; height : auto; ">
        </div>
        <br><br>
    </div>
    {% include "layout/footer.html" %}
</body>

</html>