<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Postulantes Predicción</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='gestionarUsuarios.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/header_general.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
</head>

<body>
  {% include "layout/header_general.html" %}
  {% include "layout/menu.html" %}
  <h1>Gestión de Usuarios</h1>

  <form method="GET" action="{{ url_for('gestionar_usuarios') }}">
    <label class="filtro-label">Filtrar por rol:</label>
    <select name="rol" class="custom-select" onchange="this.form.submit()">
      <option value="">-- Ver todos --</option>
      <option value="Supervisor" {% if filtro=='Supervisor' %}selected{% endif %}>Supervisores</option>
      <option value="Analista_Datos" {% if filtro=='Analista_Datos' %}selected{% endif %}>Analistas</option>
    </select>
  </form>

  <table>
    <thead>
      <tr>
        <th>Usuario</th>
        <th>Rol</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for u in usuarios %}
      <tr>
        <td>{{ u.username }}</td>
        <td>{{ u.type }}</td>
        <td>
          <a href="{{ url_for('editar_usuario', id=u.id) }}"> Editar</a>
          {% if u.username != session['username'] %}
          | <a href="{{ url_for('eliminar_usuario', id=u.id) }}"
            onclick="return confirm('¿Eliminar usuario?')">Eliminar</a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="submenu">
    <a href="{{ url_for('crear_usuario') }}">Crear nuevo usuario</a>
  </div>
  {% include "layout/footer.html" %}
</body>

</html>