<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Entrenamiento Inicial</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='StylesIndex.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
</head>

<body>
    <h1 style="margin-top: 7rem; margin-bottom: 2rem;font-size: 3rem;">Entrenar Modelo</h1>
    <form style="margin-bottom: 7rem;" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="archivo_entrenamiento" class="form-label">Archivo CSV de entrenamiento</label>
            <input class="form-control" type="file" id="archivo_entrenamiento" name="archivo_entrenamiento" required>
        </div>
        <button type="submit" class="btn btn-primary">Entrenar modelo</button>
    </form>
    {% include "layout/footer.html" %}
</body>

</html>