<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Métricas por oferta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='metricas.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header_general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fragments/box-background.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fragments/particles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fragments/titles.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logoApptitudAI.png') }}">
</head>


<body>
    {% include "fragments/particles.html" %}
    {% include "layout/header_general.html" %}
    {% include "layout/menu.html" %}
    <main>
        <h1><p class="title-perfect-violet">Métricas por </p><p class="title-match-blue">Oferta Laboral</p></h1>

        <select id="ofertaSelect" style="background-color: #3815b8; color: white;">
            <option style="background-color: #3815b8; color: white;" disabled selected value="">-- Seleccionar oferta --
            </option>
            {% for oferta in ofertas %}
            <option style="background-color: #3815b8; color: white;" value="{{ oferta.idOfer }}">
                {{ oferta.nombre }}
            </option>
            {% endfor %}
        </select>
        <div class="box-background">
            <div class="box-background-child ">
                <div class="carousel-container">
                    <button class="carousel-arrow left" id="prevChart"><i class="fa fa-chevron-left"></i></button>
                    <div class="carousel-wrapper">
                        <canvas id="grafico_total_candidatos" width="10" height="10" class="carousel-chart"></canvas>
                        <canvas id="grafico_edu_cant" width="10" height="10" class="carousel-chart"
                            style="display:none;"></canvas>
                        <canvas id="grafico_tec_cant" width="10" height="10" class="carousel-chart"
                            style="display:none;"></canvas>
                        <canvas id="grafico_tec2_cant" width="10" height="10" class="carousel-chart"
                            style="display:none;"></canvas>
                        <canvas id="grafico_hab_cant" width="10" height="10" class="carousel-chart"
                            style="display:none;"></canvas>
                        <canvas id="grafico_hab2_cant" width="10" height="10" class="carousel-chart"
                            style="display:none;"></canvas>
                        <canvas id="grafico_edu_exp" width="10" height="10" class="carousel-chart"
                            style="display:none;"></canvas>
                        <canvas id="grafico_tec_exp" width="10" height="10" class="carousel-chart"
                            style="display:none;"></canvas>
                        <canvas id="grafico_tec2_exp" width="10" height="10" class="carousel-chart"
                            style="display:none;"></canvas>
                        <canvas id="grafico_hab_exp" width="10" height="10" class="carousel-chart"
                            style="display:none;"></canvas>
                        <canvas id="grafico_hab2_exp" width="10" height="10" class="carousel-chart"
                            style="display:none;"></canvas>
                    </div>
                    <button class="carousel-arrow right" id="nextChart"><i class="fa fa-chevron-right"></i></button>
                </div>
            </div>
            <div class="box-background-child ">
                <div id="map-container">
                    <h2>Distribución de candidatos por provincia</h2>
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </main>
    {% include "layout/footer.html" %}
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="{{ url_for('static', filename='js/metricas.js') }}"></script>
</body>

</html>