<!DOCTYPE html>
<html lang="es">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>IA de PREDICCION de Aptitud</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cargarCV.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header_general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
</head>

<body>
    {% include "layout/header_general.html" %}
    {% if es_admin %}
    <div class="nav">
        <a href="{{ url_for('predecir') }}">Inicio</a>
    </div>
    {% endif %}
    {% include "layout/menu.html" %}
    <h1>Completa los datos de tu CV</h1>
    <form method="post" action="/postulacion">

        <label for="idOfer">Selecciona una oferta laboral:</label>
        <select name="idOfer" required>
            <option value="">-- Selecciona una oferta --</option>
            {% for oferta in opciones_ofertas if oferta.estado != "Cerrada" %}
            <option value="{{ idOfer }}">{{ oferta.nombre }}</option>
            {% endfor %}
        </select>

        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ' ]{2,20}"
            title="Debe tener entre 2 y 20 letras, puede incluir espacios o apóstrofes" required>

        <label for="apellido">Apellido</label>
        <input type="text" name="apellido" id="apellido" pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ' ]{2,20}"
            title="Debe tener entre 2 y 20 letras, puede incluir espacios o apóstrofes" required>

        <label for="email">Correo eléctronico</label>
        <input type="email" name="email" id="email" required>

        <label for="telefono">Teléfono</label>
        <input type="text" name="telefono" pattern="\d{8,10}" maxlength="10" title="Debe tener entre 8 y 10 números"
            required>

        <label for="ubicacion">Ubicación</label>
        <select name="ubicacion" id="ubicacion" required>
            <option value="">Seleccione una provincia</option>
            <option value="Buenos Aires">Buenos Aires</option>
            <option value="CABA">Ciudad Autónoma de Buenos Aires</option>
            <option value="Catamarca">Catamarca</option>
            <option value="Chaco">Chaco</option>
            <option value="Chubut">Chubut</option>
            <option value="Córdoba">Córdoba</option>
            <option value="Corrientes">Corrientes</option>
            <option value="Entre Ríos">Entre Ríos</option>
            <option value="Formosa">Formosa</option>
            <option value="Jujuy">Jujuy</option>
            <option value="La Pampa">La Pampa</option>
            <option value="La Rioja">La Rioja</option>
            <option value="Mendoza">Mendoza</option>
            <option value="Misiones">Misiones</option>
            <option value="Neuquén">Neuquén</option>
            <option value="Río Negro">Río Negro</option>
            <option value="Salta">Salta</option>
            <option value="San Juan">San Juan</option>
            <option value="San Luis">San Luis</option>
            <option value="Santa Cruz">Santa Cruz</option>
            <option value="Santa Fe">Santa Fe</option>
            <option value="Santiago del Estero">Santiago del Estero</option>
            <option value="Tierra del Fuego">Tierra del Fuego</option>
            <option value="Tucumán">Tucumán</option>
        </select>

        <label for="experiencia">Experiencia (en años)</label>
        <input type="number" min="0" max="15" name="experiencia" id="experiencia" required>

        <label for="educacion">Educación</label>
        <select name="educacion" id="educacion">
            {% for opcion in opciones_educacion %}
            <option value="{{ opcion }}">{{ opcion }}</option>
            {% endfor %}
        </select>

        <label for="tecnologias">Tecnologías</label>
        <select name="tecnologias" id="tecnologias">
            {% for opcion in opciones_tecnologias %}
            <option value="{{ opcion }}">{{ opcion }}</option>
            {% endfor %}
        </select>

        <label for="habilidades">Habilidades</label>
        <select name="habilidades" id="habilidades">
            {% for opcion in opciones_habilidades %}
            <option value="{{ opcion }}">{{ opcion }}</option>
            {% endfor %}
        </select>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="flash-messages">
            {% for message in messages %}
            <div class="alert">{{ message|safe }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        <button type="submit">Enviar CV</button>
    </form>
    {% include "layout/footer.html" %}
</body>

</html>