<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados de Predicción</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='StylesIndex.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header_general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
</head>

<body>
    <header>
        {% include "layout/header_general.html" %}
        {% include "layout/menu.html" %}

        <h1>Resultados de Predicción</h1>
        <div class="tabla-container">
            {{ tabla|safe }}
        </div>
        {% include "layout/footer.html" %}
    </header>

    <section class="resultados">
        <h2>Resultados de la Predicción</h2>
        <p>La IA ha analizado los datos y ha generado los siguientes resultados:</p>
        <ul>
            {% for resultado in resultados %}
            <li>{{ resultado }}</li>
            {% endfor %}
        </ul>
    </section>
    {% include "layout/footer.html" %}
</body>

</html>