<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados de Predicción</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='StylesIndex.css') }}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo_ungs_512.png') }}" alt="AI Logo">
        </div>
        <div class="nav">
            <a href="{{ url_for('predecir') }}">Inicio</a>
        </div>
    </header>
    
    <h1>Resultados de Predicción</h1>
    <div class="tabla-container">
        {{ tabla|safe }}
    </div>

</body>

<footer class="footer">
    <div class="footer-content">
        <div class="footer-logo">
            <img src="{{ url_for('static', filename='images/logo_ungs_512.png') }}" alt="AI Image">
        </div>
        <div class="footer-description">
            <p>
                Abal, Fernando Gabriel<br>
                Bianciotto, Matías Felipe<br>
                Gutiérrez, Diego Germán<br>
                Roldan, Guadalupe <br>
                Sotelo, Evelyn Romina

            </p>
        </div>
        <div class="footer-contacts">
            <div class="footer-country">
                <div class="address">
                    <img src="{{ url_for('static', filename='images/ArgentinaS.png') }}" alt="Argentina Flag">
                    <p>Argentina</p>
                    <p>Buenos Aires</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>©2025 IA para la Predicción de Candidatos — Desarrollado en Python con Scikit-Learn y Árboles de Decisión</p>
    </div>
</footer>
</html>