<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Ver Ofertas Laborales</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='ver_ofertas.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/header_general.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
</head>

<body>
  {% include "layout/header_general.html" %}
  {% include "layout/menu.html" %}

  <h1>Ver<span class="subtitulo">Ofertas Laborales</span></h1>

  <div class="tabla-container">
    {{ tabla|safe }}
  </div>

  {% if not mensaje %}
  <div class="acciones">
    {% for oferta in ofertas %}
    {% if oferta.estado == "Activa" %}
    <form method="POST" action="{{ url_for('cerrar_oferta', idOfer=oferta.idOfer) }}" style="display:inline;">
      <input type="hidden" name="forzar" value="1">
      <button type="submit">Cerrar oferta</button>
    </form>
    {% endif %}
    {% endfor %}
  </div>
  {% else %}
  <p>{{ mensaje }}</p>
  {% endif %}
  <div style="text-align: center; margin: 0;">
    <form method="POST" action="{{ url_for('limpiar_ofertas_expiradas') }}"
      style="display: inline-block;margin-left: 20px ;padding: 0px 60px; background-color: #4b0082; border-radius: 8px; box-shadow: 0 0 10px rgba(75, 0, 130, 0.5);">

      <button type="submit"
        style="margin: 0 !important; font-size: 13px; color: #fff; background: none; border: none; cursor: pointer;">
        <i class="fas fa-trash-alt" style="margin-right: 8px;"></i>
        Limpiar ofertas cerradas (+24hs)
      </button>
    </form>
  </div>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="flash-messages">
    {% for message in messages %}
    <div class="alert">{{ message|safe }}</div>
    {% endfor %}
  </div>
  {% endif %}
  {% endwith %}
  {% include "layout/footer.html" %}
</body>

</html>