<footer class="footer">
    <div class="footer-content">
        <div class="footer-logo">
            <img src="{{ url_for('static', filename='images/logoPerfectMatch.png') }}" alt="PF Image">
        </div>
        
        <div class="footer-contacts">
            <div class="footer-country">
                <div class="address">
                    <img src="{{ url_for('static', filename='images/ArgentinaS.png') }}" alt="Argentina Flag">
                    <p>Argentina, Buenos Aires</p>

                    <p>Siguenos en:</p>
                    <div class="social-media">
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-youtube"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>© 2025 IA para la Predicción de Candidatos. All rights reserved</p>
    </div>
</footer>